body {
  /*this css margin is create space around elements or tags*/
    margin: 0;
    /*this font-family are helps users to understand the website*/
    font-family:  sans-serif, 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif, sans-serif;
  }

  /*.topnav is a selector were we put the css*/
  .topnav {
    /*this overflow control & put content if content is to much big css to fit in area*/
    overflow: hidden;
    /*background color are used to give color on the background*/
    background-color: #292829;
  }
  
  .topnav a {
    /*float it is element that float the element in specific position*/
    float: left;
    /* display the element in screen*/
    display: block;
    /*color gives specific color to element*/
    color: #f7f7fd;
    /*text-align are used to change the position of element*/
    text-align: center;
    /*padding are used to create space around the element*/
    padding: 14px 16px;
    /* text-decoration-line I could not understand it*/
    text-decoration: none;
    /*font size are used to set size of the text*/
    font-size: 17px;
  }

  /*.topnav a :hover are used in html element when we are hover on the text*/
  .topnav a:hover {
    background-color: #edf0f5;
    color: rgb(20, 18, 18);
  }

  /*.topnav a. :active are show the content to users and other visiters*/
  .topnav a. :active {
    background-color: #0e6de9f5;
    color: rgba(243, 243, 243, 0.904);
  }

  /* I Guess .topnav .icon is displayed on the navigation pane*/
  .topnav .icon {
    display: none;
  }

  /*max width means that the width of the website*/
  @media screen and (max-width: 600px) {
    /*I did not know about that*/
    .topnav a:not(:first-child) {display: none;}
    .topnav a.icon {
      float: right;
      display: block;
    }
  }
  
  @media screen and (max-width: 600px) {
    .topnav.responsive {position: relative;}
    .topnav.responsive .icon {
      position: absolute;
      right: 0;
      top: 0;
    }
    .topnav.responsive a {
      float: none;
      display: block;
      text-align: left;
    }
  }

  @media screen and (max-width: 600px) {
    .shu_anime { 
      background-color: #3427e9f8;
    }
  }



body {
  font-family: "Lato", sans-serif;
}

.sidenav {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: #11111a;
  overflow-x: hidden;
  transition: 0.5s;
  padding-top: 60px;
}

.sidenav a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 25px;
  color: #818181;
  display: block;
  transition: 0.3s;
}

.sidenav a:hover {
  color: #f1f1f1;
}

.sidenav .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
}

/*max height means that the height of the website*/
@media screen and (max-height: 450px) {
  .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 18px;}
}

.center-align {
text-align: center;

}

/*Slide show codes*/

* {box-sizing: border-box}
body {font-family: Verdana, sans-serif; margin:0}
.mySlides {display: none}
img {vertical-align: middle;}

/* Slideshow container */
.slideshow-container {
  max-width: 1000px;
  position: relative;
  margin: auto;
}

/* Next & previous buttons */
.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  padding: 16px;
  margin-top: -22px;
  color: rgb(14, 13, 15);
  font-weight: bold;
  font-size: 11px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
  background-color: #888888;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
  background-color: rgba(0, 0, 0, 0.8);
}

/* Caption text */
.text {
  color: #f2f2f2;
  font-size: 15px;
  padding: 8px 12px;
  position: absolute;
  bottom: 8px;
  width: 100%;
  text-align: center;
}

/* Number text (1/3 etc) */
.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

/* The dots/bullets/indicators */
.dot {
  cursor: pointer;
  height: 20px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active, .dot:hover {
  background-color: #3427e9f8;
}

/* Fading animation */
.fade {
  animation-name: fade;
  animation-duration: 1.5s;
}

@keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}

/* On smaller screens, decrease text size */
@media only screen and (max-width: 300px) {
  .prev, .next,.text {font-size: 11px}
}

.caption-div {
  position: absolute;
    left: 0;
    top: 50%;
    width: 100%;
    text-align: center;
    color: #000;
}


.caption-border {
  background-color: #111;
  color: #fff;
  padding: 13px;
  font: size 13px;
  letter-spacing: 10px;
}

/*parallax css*/
body, html {
  height: 100%;
}

.parallax-1, .parallax-2, .parallax-3 {
  /* The image used */
  position:relative;

  /* Full height */
  height: 100%; 
  opacity: 0.65;

  /* Create the parallax scrolling effect */
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.parallax-1 {
  background-image: url('tanjiro.webp');
}

.parallax-2 {
  background-image: url('gojo_satoru.jpg');
}

.parallax-3 {
  background-image: url('yoriichi-demon-slayer.avif');
}

.caption {
  position: absolute;
    left: 0;
    top: 50%;
    width: 100%;
    text-align: center;
    color: #000;
}

.caption span.border {
  background-color: #111;
  color: #fff;
  padding: 18px;
  font-size: 25px;
  letter-spacing: 10px
}

h3 {
  letter-spacing: 5px;
    text-transform: uppercase;
    font: 20px "Lato", sans-serif;
    color: #fff;
}

/*our teams codes*/

.title{
  text-align: center;
  text-transform: capitalize;
  color: #726a95;
  margin: 10px 0;
  position: relative;
}

.title::after{
  content: "";
  position: absolute;
  width: 20%; height: 2px;
  background-image: linear-gradient(to left, transparent 5%, #726a95);
  bottom: -10px; left: 50%;
  transform: translate(-50%);
}

.team-row{
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  padding: 40px 0;
}

.member{
  flex: 1 1 250px;
  margin: 20px;
  text-align: center;
  padding: 20px 10px;
  cursor: pointer;
  max-width: 300px;
  transition: all 0.3s;
}

.member:hover{
  box-shadow: 0 10px 20px rgba(0,0,0,0.1);
  transform: translateY(-20px);
}

.member img{
  display: block;
  width: 150px; height: 150px;
  object-fit: cover;
  border:4px solid #726a95;
  border-radius: 50%;
  margin: 0 auto;
}

.member h2{
  text-transform: uppercase;
  font-size: 24px;
  color: #726a95;
  margin: 15px 0;
}

.member p{
  font-size: 15px;
  color: #838383;
  line-height: 1.6;
}

/*Contact us css codes*/

.container {
  background: #F8F8F8;
  width: 900px;
  height: 650px;
  margin: 5% auto;
  box-shadow: 0px 0px 10px #C8C7D9;
  position: relative; }
  .container .map {
    width: 45%;
    float: left; }
  .container .contact-form {
    width: 53%;
    margin-left: 2%;
    float: left; }
    .container .contact-form .title {
      font-size: 2.5em;
      font-family: "Libre Franklin", sans-serif;
      font-weight: 700;
      color: #242424;
      margin: 5% 8%; }
    .container .contact-form .subtitle {
      font-size: 1.2em;
      font-weight: 400;
      margin: 0 4% 5% 8%; }
    .container .contact-form input,
    .container .contact-form textarea {
      width: 330px;
      padding: 3%;
      margin: 2% 8%;
      color: #242424;
      border: 1px solid #B7B7B7; }
      .container .contact-form input::placeholder,
      .container .contact-form textarea::placeholder {
        color: #242424; }
    .container .contact-form .btn-send {
      background: #A383C9;
      width: 180px;
      height: 60px;
      color: #F8F8F8;
      font-weight: 700;
      margin: 2% 8%;
      border: none; }